name: Run test suite
on:
    workflow_dispatch:
    pull_request:
        paths-ignore:
            - "README.md"
        types:
            - opened
            - synchronize
            - reopened

permissions:
    contents: read

jobs:
    build:
        name: Build
        runs-on: ubuntu-24.04
        timeout-minutes: 5
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  cache: true
                  go-version-file: "go.mod"

            - run: go mod download
            - run: go build -v .

    lint:
        name: Lint
        runs-on: ubuntu-24.04
        timeout-minutes: 5
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  cache: true
                  go-version-file: "go.mod"

            - run: go mod download

            - name: Run linters
              uses: golangci/golangci-lint-action@v9
              with:
                  version: latest

    generate:
        name: Generate artifacts
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-go@v6
              with:
                  go-version-file: "go.mod"
                  cache: true
            - uses: hashicorp/setup-terraform@v3  # Add this step
              with:
                  terraform_version: "1.10.0"
            - run: go generate ./...
            - name: git diff
              run: |
                  git diff --compact-summary --exit-code || \
                    (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)

    # Run acceptance tests in a matrix with Terraform CLI versions
    test:
        name: Terraform Provider Unit Tests
        needs: build
        runs-on: ubuntu-24.04
        timeout-minutes: 15
        strategy:
            fail-fast: false
            matrix:
                # list whatever Terraform versions here you would like to support
                terraform:
                    - "1.0.*"
                    - "1.1.*"
                    - "1.2.*"
                    - "1.3.*"
                    - "1.4.*"
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-go@v6
              with:
                  go-version-file: "go.mod"
                  cache: true

            - uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ matrix.terraform }}
                  terraform_wrapper: false

            - run: go mod download

            - run: make test-ci
              timeout-minutes: 10
              # env:
              #   TF_ACC: "1"
